
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #aed380;
  margin: 0;
}

h1 {
  font-size: 5px;
  color: #AFD27F;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

/*--light blue houses--*/
.st0{
  fill:#A8CED7;
}

/*--roundabout grass--*/
.st1{
  fill:#AFD27F;
  }

/*--blue--*/
.st2{
  fill:#659F9C;
}

/*--red--*/
.st3{
  fill:#DE563E;
  }

.st4{
  fill:#282561;
  }


/*--road colour--*/
.st5{
  fill:#828182;
}

/*--roundabout road--*/
.st6{
 fill:none;
 stroke:#DEB442;
 stroke-width:2.0544;
 stroke-miterlimit:10;
 stroke-dasharray:11.4528;
 }

 /*--banner-red--*/
.st7{
  fill:#E72128;
  }

/*--banner-orange--*/
.st8{
  fill:#F36C24;
  }

.st9{
  fill:#FFFFFF;
  }


/*--earth nose--*/
.st10{
  fill:none;
  stroke:#4B7D79;
  stroke-width:1.3069;
  stroke-miterlimit:10;
}

/*--earth--*/
.st11{
  opacity:0.75;
  fill:#6AB445;
  enable-background:new ;
  }

/*--earth mouth--*/
.st12{
  fill:#4B7D79;
  }

/*--eyebrows--*/
.st13{
  fill:#FFFFFF;
  stroke:#282561;
  stroke-width:2;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

/*--weight eyes--*/
.st14{
  fill:#E7E7E8;
  }

.st15{
  fill:#754D29;
}

.st16{
  fill:#FFFFFF;
  stroke:#282561;
  stroke-miterlimit:10;
  }

.st17{
  fill:#282560;
}

.st18{
  fill:#5870AE;
  stroke:#282561;
  stroke-width:3;
  stroke-miterlimit:10;
  }

/*--graph line--*/
.st19{
  fill:none;
  stroke:#282561;
  stroke-width:3;
  stroke-miterlimit:10;
}

/*--graph line--*/
.st20{
  fill:none;
  stroke:#282560;
  stroke-width:3;
  stroke-miterlimit:10;
}

/*--car 1 graph--*/
.st21{
  fill:#DEB442;
}

/*--gasoline-*/
.st22{
  opacity:0.36;
  fill:#DE563E;
  enable-background:new ;
}

.st23{
  fill:none;
}

/*--licence--*/
.st24{
  fill:#DDC659;
}

/*--licence--*/
.st25{
  fill:#59595C;
}

/*--sign--*/
.st26{
  fill:none;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}

/*--commute road--*/
.st27{
fill:none;
stroke:#DEB442;
stroke-width:2.3339;
stroke-miterlimit:10;
stroke-dasharray:13.1549,13.1549;
}


/*--licence--*/
.st28{
  fill:#FFFFFF;
  stroke:#016838;
  stroke-width:6.2178;
  stroke-miterlimit:10;
}


/*--licence holes--*/
.st29{
  fill:none;
  stroke:#231F20;
  stroke-width:1.9365;
  stroke-miterlimit:10;
}

/*--licence holes--*/
.st30{
  fill:none;
  stroke:#231F20;
  stroke-width:2;
  stroke-miterlimit:10;
}

/*--greenest--*/
.st31{
  fill:#29B673;
}

/*--ways to get around--*/
.st32{
  fill:#016838;
}


/*--animations--*/

.arrow-shoot{
  fill:#DE563E;
  animation: shoot 1s linear infinite;
}

  @keyframes shoot {

    0% { transform: translate(4px,0px); }

    100% { transform: translate(40px,0px); }

  }
}

.gas{
  fill:#A36F36;
}

.gascan{
  fill:#DE563E;
}

.gas-tilt {
  animation: gas-tilt 500ms alternate infinite backwards;
  transform-origin: 161px 430px;
  fill:#DE563E;
}

@keyframes gas-tilt {

  0% {
    transform: rotate(.5deg);
  }

  100% {
    transform: rotate(-.5deg);
  }

}


.roundcar{
  animation: drive 2.5s linear infinite;
}

@keyframes drive {

  0% { transform: translate(5px,0px); }

  100% { transform: translate(55px,0px); }

}


.eyes {
  animation: shiftyeyes 1.5s linear infinite;
}

@keyframes shiftyeyes {

  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(5px, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(-5px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
